!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
         <title>新規登録</title>
         <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
     </head>
     <body>
         <!-- タイトルとテキストの入力フォームを作成 -->
         <form th:object="${postsForm}" th:action="@{/newposts}"
th:method="post">
             <table>
                 <tr>
                     <th>タイトル</th>
                     <td>
                         <!-- postsFromのtitleフィールドとの紐付け -->
                         <input type="text" th:field="*{title}">
                         <span th:if="${#fields.hasErrors('title')}"
th:errors="*{title}"></span>
                     </td>
                 </tr>
                 <tr>
                     <th>テキスト</th>
                     <td>
                         <!-- postsFromのtextフィールドとの紐付け -->
                         <input type="text" th:field="*{text}">
                         <span th:if="${#fields.hasErrors('text')}"
th:errors="*{text}"></span>
                     </td>
                 </tr>
             </table>
             <input type="submit" value="登録">
         </form>

         <!-- 一覧画面へのリンク追加 -->
         <a th:href="@{/posts}">一覧へ</a>
     </body>
</html>